body{
	background: url(img/background_4.png) no-repeat center center fixed;
	background-size:cover;
	font-family:Verdana;
}
div.contentBack{
	text-align:center;
	width:800px;
	height:800px;
	top:50%;
	left:50%;
	position:fixed;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-size:850px 550px;
}
div.content{
	text-align:center;
	width:360px;
	top:50%;
	left:50%;
	position:fixed;
	border: 2px solid #1A6BBE;
	background:white;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	box-shadow: 0 0 20px;
}

div.loginContent{
	padding: 2px 10px 7px 10px;
}

img.headerImg{
	width:50px;
	float:left;
	margin: 7px 1px 10px 18px;
}

label{
	float:right;
	margin: 20px 20px 7px 0;
	font-size:18px;
}

input{
	margin-bottom:10px;
	text-align:center;
	font-size:16px;
	padding:4px;
	border-radius:2px;
	border:1px solid #1A6BBE;
	width:300px;
	font-family:Verdana;
}

button{
	border-color:#1A6BBE;
	border-radius: 5px;
	height: 30px;
	width: 100px;
	padding: 2px 0px 2px 0px;
	background:#2185ED;
	color:white;
	text-align:left;
}

button img{
	width:15px;
	margin: 0px 10px 0px 15px;
	float:left;
}